{% extends 'layouts/base_admin.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <h1>Créer une Categorie</h1>

    {{ include('category/_form.html.twig') }}

    <a href="{{ path('app_category_index') }}">Retour à la liste</a>
{% endblock %}
